<!-- 
<table border="1">
	<tr>
		<th><b><u>guid</u></b></th>
		<th><b><u>sequence</u></b></th>
		<th><b><u>text</u></b></th>
	</tr>

<% TempLog.order(:guid,:sequence).each do |log| %> 
  <tr>
	 <td><%= log.guid %></td>
	 <td><%= log.sequence %></td>
	 <td><%= log.text %></td>
</tr>
<% end %>
</table> -->

<h1> Querying </h1>
      <%= render 'form' %>